server {
  listen ${NGINX_PORT};
  server_name localhost;

  location / {
    proxy_pass http://host.docker.internal:8080/;
  }

  location /overwatch {
    proxy_pass https://overwatch.blizzard.com/;
    proxy_hide_header X-Frame-Options;
  }

   location /makeup {
    proxy_pass https://makeup.com.ua/;
    proxy_hide_header X-Frame-Options;
  }
}